.align{
    margin-left: 25%;
}

#lista{
    list-style-type: none;
}

#titulo{
    width: 50%;
}

#descripcion{
    width: 50%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#actualizar{
    margin-left: 46%;
}

#actualizar-card{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color:#e8e8e8;
}

a{
    color:white;
}

a:visited{
    color:white;
}
